{% extends "mapbase.html" %}
{% block content %}
{% load static %}
<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</head>
<body>



<div class="container"><br>
    <form method="post">
    {% csrf_token %}
  <div class="row">
      <!--home-->




    <div class="col">
        Select Area of Surat
        <select class="form-control" name="loation" required="false">
             <option value="none">Area</option>
        {% for i in data1 %}
        <option value="{{ i.id }}">{{ i.place }}</option>
         {% endfor %}
    </select>

    </div>


      <div class="col">
    Select Your Add Types
           <select class="form-control" name="advertisement_types">
        <option value="none">Add Types</option>
        {% for i in ad_data %}
        <option value="{{ i.ad_type }}">{{ i.ad_type|title }}</option>
         {% endfor %}
    </select>

    </div>

       <div class="col">

<!--           <div class="btn-group">-->
<!--  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="advertisement_types">-->
<!--    Select Add Types-->
<!--  </button>-->
<!--  <div class="dropdown-menu">-->
<!--      {% for i in data %}-->
<!--    <a class="dropdown-item" href="{{ i.id }}"> {{i.ad_type}}</a>-->
<!--     {% endfor %}-->
<!--  </div>-->
<!--    </div>-->

<button type="submit" class="btn btn-primary" id="btn" required="false">Filter</button>



    </div>



  </div>
          </form>
     </div>




    <div id="map" style="height:100%; width:100%"></div>

</body>
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>


    {% if loc %}
        var map_parameters = { center: {lat: {{loc.latitude}}, lng:{{loc.longitude}} }, zoom: 15 };
    {% else %}
	var map_parameters = { center: {lat: 21.7051, lng:72.9959}, zoom: 11 };
    {% endif %}

    var map = new google.maps.Map(document.getElementById('map'), map_parameters);



   {% for i in data %}

    var icons = {
          on: {
            icon: '{{ i.publisher.logo.url }}'
          },
        };


        var position1 = { position: {lat: {{ i.latitude }}, lng: {{ i.longitude }} }, map: map, icon:icons.on.icon };
        var marker = new google.maps.Marker(position1)

        var window1 =
        '<div class="container-fluid">'+
        '<div class="row">'+
        '<div class="col-sm-3">'+
        '<h6><span style="color:blue; font-weight:bold"> Publisher: </span>'+
        '<p><p><span style="color:blue; font-weight:bold"> Ad. types: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Price: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Status: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Size: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Address: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Available from: </span></h6>'+
        '</div>'+

        '<div class="col-sm-3">'+
        '<h6><span style="color:black; font-weight:bold"> {{ i.publisher.first_name }} </span>'+
        '<p><p><span style="color:black; font-weight:bold"> {{ i.ad_type }} </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.price }} </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.status }} </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.height }} X {{ i.width }} Feet </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.address }} </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.to_date }} <span style="color:black; font-weight:bold"></h6>'+
        '</div>'+

        '<div class="col-sm-6">'+

        '<p><img src="{{ i.photo.url }}" height="150" width="280">'+
        {% if user.is_superuser %}
        {% else %}
        '<p align="right"><span style="color:black; font-weight:bold"><a class="btn btn-primary" href="{% url 'edit_location' i.id %}">Edit</a></span> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp'+
        '<span style="color:black; font-weight:bold"><a class="btn btn-danger" href="{% url 'delete_location' i.id %}">Delete</a></span>'+
        {% endif %}

        '</div>'+
        '</div>'+
        '</div>';

        var infowindow = new google.maps.InfoWindow({ content: window1 });


    google.maps.event.addListener(marker,'click', (function(marker,window1,infowindow){
        return function() {
           infowindow.setContent(window1);
           infowindow.open(map,marker);
        };
    })(marker,window1,infowindow));


    {% endfor %}

</script>
</body>
</html>

{% endblock %}