{% extends "mapbase.html" %}
{% block content %}
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>

<!-- search areas -->

<div class="container"><br>
    <form method="post">
    {% csrf_token %}
  <div class="row">
      <!--home-->


      <div class="col">
       <div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select City
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'compare_surat' %}">Surat</a>
      <a class="dropdown-item" href="{% url 'compare_bharuch' %}">Bharuch</a>
  </div>
    </div>
    </div>

      <div class="col">
    <a class="btn btn-primary" href="{% url 'bharuch_cus_map' %}" role="button">Back</a>
    </div>


      </div>

        <br>

        <div class="row">
    <div class="col">
        Select Your Publisher to Compare
        <select class="form-control" name="publisher1" required="false">
             <option value="none">publisher</option>
        {% for i in publisher %}
        <option value="{{ i.id }}">{{ i.first_name }}</option>
         {% endfor %}
    </select>
    </div>

            <div class="col">
        Select Your Publisher to Compare
        <select class="form-control" name="publisher2" required="false">
             <option value="none">publisher</option>
        {% for i in publisher %}
        <option value="{{ i.id }}">{{ i.first_name }}</option>
         {% endfor %}
    </select>
    </div>

            <div class="col"><br>
<button type="submit" class="btn btn-primary" id="btn" required="false">Compare</button>
    </div>

            </div>

          </form>
     </div>



<table class="table table-hover">
  <thead>
    <tr>


        <th scope="col">Publisher</th>
      <th scope="col">Email id</th>
        <th scope="col">Contact No</th>
      <th scope="col">address</th>
        <th scope="col">logo</th>
        <th scope="col">No of Banner</th>
        <th scope="col">Avg. Cost of Banner</th>


    </tr>
  </thead>
  <tbody>
{% if pub1 %}
    <tr>

      <td>{{pub1.first_name}}</td>
      <td>{{pub1.username}}</td>
        <td>{{pub1.phone}}</td>
        <td>{{pub1.address}}</td>
      <td><image src="{{pub1.logo.url}}" height="30px" width="30px"></image></td>
        <td>{{data1}}</td>
        <td>{{price1.price__avg}}</td>

    </tr>
{% endif %}
{% if pub2 %}
  <tr>

      <td>{{pub2.first_name}}</td>
      <td>{{pub2.username}}</td>
      <td>{{pub2.phone}}</td>
        <td>{{pub2.address}}</td>
      <td><image src="{{pub2.logo.url}}" height="30px" width="30px"></image></td>
      <td>{{data2}}</td>
      <td>{{price2.price__avg}}</td>

    </tr>
{% endif %}
  </tbody>
</table>






<!--map-->
<div id="map" style="height:100%; width:100%"></div>

</body>
<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>

    {% if loc %}
        var map_parameters = { center: {lat: {{loc.latitude}}, lng:{{loc.longitude}} }, zoom: 15 };
    {% else %}
	var map_parameters = { center: {lat: 21.7051, lng:72.9959}, zoom: 11 };
    {% endif %}

    var map = new google.maps.Map(document.getElementById('map'), map_parameters);



   {% for i in data %}

   var icons = {
          on: {
            icon: '{{ i.publisher.logo.url }}'
          },
        };

        var position1 = { position: {lat: {{ i.latitude }}, lng: {{ i.longitude }} }, map: map, icon:{url:icons.on.icon, scaledSize: new google.maps.Size(20, 20)} };
        var marker = new google.maps.Marker(position1)

        var window1 =
        '<div class="container-fluid">'+
        '<div class="row">'+
        '<div class="col-sm-3">'+
        '<h6><span style="color:blue; font-weight:bold"> Publisher: </span>'+
        '<p><p><span style="color:blue; font-weight:bold"> Ad. types: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Price: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Status: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Size: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Address: </span>'+
        '<p><span style="color:blue; font-weight:bold"> Available from: </span></h6>'+
        '</div>'+

        '<div class="col-sm-3">'+
        '<h6><span style="color:black; font-weight:bold"> {{ i.publisher.first_name }} </span>'+
        '<p><p><span style="color:black; font-weight:bold"> {{ i.ad_type }} </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.price }} </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.status }} </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.height }} X {{ i.width }} Feet </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.address }} </span>'+
        '<p><span style="color:black; font-weight:bold"> {{ i.to_date }} <span style="color:black; font-weight:bold"></h6>'+
        '</div>'+

        '<div class="col-sm-6">'+

        '<p><img src="{{ i.photo.url }}" height="150" width="280">'+
        '</div>'+
        '</div>'+
        '</div>';

        var infowindow = new google.maps.InfoWindow({ content: window1 });


    google.maps.event.addListener(marker,'click', (function(marker,window1,infowindow){
        return function() {
           infowindow.setContent(window1);
           infowindow.open(map,marker);
        };
    })(marker,window1,infowindow));

    {% endfor %}

</script>
</body>
</html>

{% endblock %}
