{% extends 'base.html' %}
{% load static %}

{% block content %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
  .right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

</style>
<BR>
<table class="table table-hover">
  <thead>
    <tr>

     <th scope="col">Pub_Name</th>
      <th scope="col">Address</th>
      <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">Advertise Type</th>
        <th scope="col">Image</th>
        <th scope="col">Available Status</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for i in data %}
    <tr>

      <td>{{i.banner.publisher.first_name}}</td>
      <td>{{i.banner.address}}</td>
        <td>{{i.banner.height}} height * {{i.banner.width }} width feet</td>
      <td>{{i.banner.price}}</td>
      <td>{{i.banner.ad_type }}</td>
        <td><image src="{{i.banner.photo.url}}" height="50px" width="100px"> </image></td>
      <td>{{i.banner.status}}</td>

        <td>
          <a class="btn btn-danger" href="{% url 'delete_save_banner' i.id %}">Delete</a>
      </td>

    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
